        <footer class="d-print-none">
            <div class="container text-right">
                <div class="row">
                    <div class="col-md made_with">
                        <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </div>
                    <div class="col-md">
                        <img src="https://karlhaworth.com/assets/technologies/retina/11ty.png" data-rjs="3" class="img-responsive" alt="11ty"/>
                    </div>
                    <div class="col-md">
                        <img src="https://karlhaworth.com/assets/technologies/retina/netlify.png" data-rjs="3" class="img-responsive" alt="netlify"/>
                    </div>
                    <div class="col-md">
                        <img src="https://karlhaworth.com/assets/technologies/retina/bootstrap.png" data-rjs="3" class="img-responsive" alt="bootstrap"/>
                    </div>
                    <div class="col-md">
                        <img src="https://karlhaworth.com/assets/technologies/retina/gitlab.png" data-rjs="3" class="img-responsive img-center" alt="gitlab"/>
                    </div>
                    <div class="col-md">
                        <img src="https://karlhaworth.com/assets/technologies/retina/cloudflare.png" data-rjs="3" class="img-responsive img-center" alt="cloudflare"/>
                    </div>
                    <div class="col-md-3" id="copyright">
                        Created by KARLHAWORTH<br/>
                        Copyright © {{ site.buildYear }}
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ rootPath }}node_modules/jquery/dist/jquery.min.js?v=0.000001"></script>
        {# <script src="/node_modules/popper.js/dist/popper.min.js?v=0.000001"></script> #}
        <script src="{{ rootPath }}node_modules/bootstrap/dist/js/bootstrap.min.js?v=0.000001"></script>
        <script type="text/javascript" src="{{ rootPath }}node_modules/retinajs/dist/retina.min.js"></script>
        {% if title === "Robotics" %}
            <script src="{{ rootPath }}node_modules/lightbox2/dist/js/lightbox.min.js"></script>
        {% endif %}
    </body>
</html>