<section class="row">
    <div class="col-md-2">
        <h5 id="education">Education</h5>
    </div>
    <div class="col-md-7">
        <div itemscope itemtype="http://schema.org/EducationalOrganization">
            <strong itemprop="name"><span class="icon-albion-college px-2 d-print-none"></span><a itemprop="url" href="http://www.albion.edu/" target="_blank" title="Albion College">Albion College</a></strong>, <span itemprop="addressLocality" class="ml-1">Albion</span>, <span itemprop="addressRegion">Michigan</span><br/>
            Bachelor of Arts<br/>
            Major: Economics and Management<br/>
            Minor: Statistics<br/>
        </div>
    </div>
    <div class="col-md-3 text-right">
        <span class="badge badge-secondary">August 2010 – May 2014</span>
    </div>
</section>