<section class="row">
    <div class="col-md-2">
        <h5>Experience</h5>
    </div>
    <div class="col-md-10">
        {% for experience in experience %}
            <div itemscope itemtype="http://schema.org/Organization" class="{{ experience.class }}">
                <div class="row">
                    <div class="col-md-6">
                        <strong itemprop="jobTitle">{{ experience.title }}</strong>
                    </div>
                    <div class="col-md-2">
                        <span class="badge badge-primary" itemprop="name">{{ experience.company }}<span class="icon-{{experience.icon}} pl-2 d-print-none"></span></span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="badge badge-secondary">{{ experience.employment_date }}</span >
                    </div>
                </div>
                <div class="row {{ 'd-print-none' if experience.oneliner }}">
                    <div class="col-md-12" itemprop="description">
                        {{ experience.description }}
                    </div>
                </div>
                <div class="row {{ 'd-print-none' if experience.oneliner }}">
                    <div class="col-md-12">
                        <ul class="m-0">
                            {% for bullet in experience.bullets %}
                                <li>{{ bullet }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>