<section class="row">
    <div class="col-md-2">
        <h5 id="skills">Technical Skills</h5>
    </div>
    <div class="col-md-10 technical_skills_bullets">
        {% for skill in technical_skills %}
            <span class="badge badge-success">{{ skill }}</span>
        {% endfor %}
    </div>
</section>