<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <title>Karl Haworth | {{ title }}</title>
        <link rel="icon" type="image/png" href="{{ rootPath }}assets/favicon.png"/>

        <link rel="stylesheet" href="{{ rootPath }}assets/css/main.css?v=0.00003">
        <link rel="stylesheet" href="{{ rootPath }}node_modules/lightbox2/dist/css/lightbox.min.css">

        <meta name="description" content="{{ metaDescription }}">
        <meta name="revisit-after" content="7 days">
        <meta name="keywords" content="karl haworth,karl,haworth,automation,devops,arizona,az,orchestration,statistics,mta,manufacturing technology academy,michigan,mi,traverse city,albion,american airlines,us airways,timber ridge resort,technology,it,process automation,engineer">

        <script type='application/ld+json'> 
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "Karl Haworth",
            "jobTitle": "Principal Engineer",
            "url": "https://karlhaworth.com",
            "image": "https://karlhaworth.com/assets/karl_haworth-pichi.jpg",
            "sameAs": "https://www.linkedin.com/in/karl-haworth/",
            "worksFor": {
                "@type": "Organization",
                "name": "American Airlines Inc."
            },
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Chandler",
                "addressRegion": "Arizona",
                "postalCode": "85226"
            }
        }
        </script>

    </head>
    <body>