<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <title>Karl Haworth</title>
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>

        <link rel="stylesheet" href="/assets/css/main.css?v=0.00002">

        <meta name="description" content="Karl J Haworth - Highly motivated, leadership driven, team player, and quick learner with extensive experience in computer applications and statistical reporting. Creative thinker and problem solver with exceptional planning and analytical abilities.">
        <meta name="revisit-after" content="7 days">
        <meta name="keywords" content="karl,haworth,automation,devops,arizona,orchestration,statistics,mta,manufacturing technology academy,michigan,albion,american airlines,us airways,timber ridge resort">

    </head>
    <body>