@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "fonts";
body {
  font-family: "Lato";
  font-weight: 300;
}

.content {
  font-size: $custom-font-size;
}

#header_wrap {
  font-family: "Raleway";
  font-weight: 300;

  .number {
    display: none;
  }

  .subheader {
    font-weight: 500;
  }
}

#header_wrap,
#bottom_wrap {
  background: #2c3e50;
  color: white;

  a {
    color: $link-green;

    &:hover {
      color: darken($link-green, 10%);
    }
  }

  hr {
    @extend .border-white;
    @extend .p-1;
  }
}

.linkedin_logo {
  fill: $link-green;

  &:hover {
    fill: darken($link-green, 10%);
  }
}

#about_wrap {
  background-color: #2f2f2f;
  color: white;

  a {
    color: $link-green;

    &:hover {
      color: darken($link-green, 10%);
    }
  }
}

section {
  @extend .py-3;

  h5 {
    @extend .text-uppercase;
  }
}
.technology_bullets {
  span {
    @extend .mx-1;
  }
}
.technical_skills_bullets {
  .badge {
    font-size: 100%;
    @extend .m-1;
  }
}
#about {
  a {
    @extend .ml-1;
  }

  .aboutImg {
    max-width: 100px;
    max-height: 100px;
  }
}

footer {
  background-color: #222;
  color: white;

  @extend .p-3;

  #copyright {
    font-size: 0.8em;
  }

  img {
    max-height: 20px;
  }

  .made_with {
    svg {
      fill: #d5d5d5;
      @extend .ml-2;
    }
  }
}

@media print {
  body {
    font-size: 1em;
  }
  a {
    color: black;
    text-decoration: none !important;
  }
  .py-2 {
    padding: 0px !important;
  }
  .number {
    display: inline !important;
  }
  section {
    padding: 2px !important;
    page-break-inside: avoid;

    h5 {
      font-size: 100%;
      border-left: 4px #2f7bf6 solid;
      padding-left: 10px;
      font-weight: 700;
    }
  }
  .technical_skills_bullets {
    .badge {
      font-size: 75% !important;
      margin: 2px !important;
    }
  }
  #header_wrap {
    background: none;
    color: black;

    hr {
      border-color: lighten(lightgray, 5%) !important;
      margin: 1px !important;
    }

    h1 {
      font-size: 3.2em;
      font-weight: 900;
    }

    a {
      color: black;
      text-decoration: none;

      .linkedin_logo {
        fill: black;
      }
    }
  }
  #projects {
    font-size: 0.93em !important;
    .pb-3 {
      padding-bottom: 0.25em;
    }
  }
  #bottom_wrap {
    background: none !important;
    color: black;

    hr {
      border-color: lighten(lightgray, 5%) !important;
      margin: 2px !important;
    }
  }
  hr {
    border-color: lighten(lightgray, 5%) !important;
    margin: 2px !important;
  }
}
