---
permalink: "robotics/"
tags: sitemap
---

{% include "header.njk" %}

<!-- CONTAINER -->
<div class="container">
  <!-- EDUCATION -->
  <div class="row">
    <div class="col-sm-12">
      <h5 class="text-right">
        <a class="btn btn-primary" href="/" role="button">
          <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          </svg>
          Go Back
        </a>
      </h5>
    </div>
    <div class="col-sm-12 mb-5">
      <h4>
        <strong>Project :</strong>
        Heavy-Weight Sumo Robot</h4>
      <strong>Time :</strong>
      October 2009 – May 2010 (Senior year HS)<br/>
      <strong>Awards :</strong>
      4th place overall nationwide at the National Robotics Challenge in April 2010<br/>
    </div>
    <div class="col-md-12" style="line-height: 1.5;">
      <img class="alignleft size-full float-left m-4" style="border: 0px none;" title="Robot" alt="" src="{{ rootPath }}assets/robotics/pictures/Robot.png" width="240" height="228"/>
      <p>
        As part of their senior project at the Manufacturing Technology Academy, Karl Haworth and Jack Kerby-Miller designed and built a robot to compete against other schools and tech groups in the heavyweight Sumo Robot Competition at the National Robotics Challenge, April 15th – 17th in Marion, Ohio. Over a period of seven months, the team followed the Plan Do Study Act method for continuous improvement to create their entry. They began by understanding the challenges intrinsic to the Sumo Robot Competition, specifically, reading the rules and synthesizing personal experience.
      </p>
      <p>
        It was understood that the robot would need to detect its opponent and autonomously move towards it, forcing it out of the large square arena. To accomplish this end, the team designed its robot to maximize torque and traction. They created a logic system that would use binary distance sensors with adjustable ranges to locate and their opponent and move towards it. The program was made to adjust the robot’s course depending on which of the four LED sensors were activated at any one time.
      </p>
      <p>
        In order to provide the necessary torque and horsepower, the robot was given six CIM motors which were each geared down in a 12:1 planetary gearbox before they were routed to rubberized tank treads to provide superior traction. Two 12 volt Lead-Acid batteries provided the necessary power for these motors. Also to improve traction, the robot was built to weigh exacly 125 pounds.
      </p>
      <p>
        Finally, as a key advantage, hinged aluminum side flaps were attached to help lift opponents off the playing surface, reducing the effectiveness of their drive mechanisms. After the Robot’s completion, the team traveled to compete, earning 5 wins and losing to only 1 robot. Some design issues were identified in competition and were resolved, but not before the team was eliminated. In exhibition matches afterwards, these adjustments resulted in victory over the only robot that the team had lost to.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="alignnone img-fluid" title="Solid Works CAD Drawing" alt="" src="{{ rootPath }}assets/robotics/Drawing.png" width="630" height="487"/>
    </div>
  </div>
  <div class="row">
    {% for image in robotics.imgs %}
      <div class="col-lg-4" style="text-align: center;">
        <a title="{{ image.title }}" href="{{ rootPath }}assets/robotics/pictures/{{ image.img }}" target="_blank"><br/>
          <img alt="" src="{{ rootPath }}assets/robotics/pictures/{{ image.thumbnail }}"/><br/>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-12 text-center">
      <embed src="{{ rootPath }}assets/robotics/heavy-weight.pdf" type="application/pdf" width="60%" height="700px"/>
    </div>
  </div>
  <div class="col-sm-12">
    <h5 class="text-right">
      <a class="btn btn-primary" href="/" role="button">
        <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        </svg>
        Go Back
      </a>
    </h5>
  </div>
</div>

{% include "footer.njk" %}