---
permalink: "/"
tags: sitemap
title: Resume - Product Technical Lead @ American Airlines
metaDescription: Karl Haworth - Highly motivated, leadership driven, team player, and quick learner with extensive experience in computer applications and statistical reporting. Creative thinker and problem solver with exceptional planning and analytical abilities.
---

{% include "header.njk" %}

<div>
  <!-- CONTAINER -->
  <div class="container">
    <!-- EDUCATION -->
    {% include "./_partials/resume/education.njk" %}
    <!-- END EDUCATION -->
    <hr/>
    <!-- EXPERIENCE -->
    {% include "./_partials/resume/experience.njk" %}
    <!-- END EXPERIENCE -->
    <hr/>
    <!-- SKILLS -->
    {% include "./_partials/resume/skills.njk" %}
    <!-- END SKILLS -->
    <hr/>
  </div>
  <!-- END CONTAINER -->
  <!-- BOTTOM WRAP -->
  <div id="bottom_wrap">
    <!-- CONTAINER -->
    <div class="container">
      <!-- AWARDS -->
      {% include "./_partials/resume/awards.njk" %}
      <!-- END AWARDS -->
      <hr/>
      <!-- NOTABLE RECOGNITION -->
      {% include "./_partials/resume/recognition.njk" %}
      <!-- END NOTABLE RECOGNITION -->
      <hr/>
      <!-- PROJECTS -->
      {% include "./_partials/resume/projects.njk" %}
      <!-- END PROJECTS -->
      <hr/>
      <!-- PRESENTATIONS -->
      {% include "./_partials/resume/presentations.njk" %}
      <!-- END PRESENTATIONS -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- END BOTTOM WRAP -->
  <!-- ABOUT WRAP -->
  <div id="about_wrap" class="d-print-none">
    <!-- CONTAINER -->
    <div class="container">
      <!-- ABOUT -->
      {% include "./_partials/resume/about.njk" %}
      <!-- END ABOUT -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- ABOUT WRAP -->
</div>

{% include "footer.njk" %}