<section class="row">
    <div class="col-md-2">
        <div class="section_title">Education</div>
    </div>
    <div class="col-md-7">
        <strong>Albion College</strong>; Albion, Michigan<br/>
        Bachelor of Arts<br/>
        Major: Economics and Management<br/>
        Minor: Statistics<br/>
    </div>
    <div class="col-md-3 text-right">
        <span class="badge badge-secondary">August 2010 – May 2014</span>
    </div>
</section>