<section class="row" itemscope itemtype="http://schema.org/ItemList">
    <div class="col-md-2">
        <div class="section_title" itemprop="itemListElement">Technical Skills</div>
    </div>
    <div class="col-md-10" id="technical_skills_bullets">
        {% for skill in technical_skills %}
            <span class="badge badge-success" itemprop="itemListElement">{{ skill }}</span>
        {% endfor %}
    </div>
</section>